body, html {
  overflow-x: hidden;
}
.navbar-nav{
  font-weight: bolder;
}
.navbar-nav a:hover{
  transform: scale(1.05);
  color: blue;
}
.skill li:hover{
  transform: scale(1.01);
  font-size: larger;
  font-weight: bold;
}
img:hover{
transform: scale(1.03);
}

.myservice div{
  box-shadow: 0px 0px 6px 4px;
}
.myservice div{
  background: linear-gradient(135deg, #667eea, #ccafe9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.myservice div:hover{
  transform: scale(1.05);
  background:rgb(177, 29, 29);
  color:white;

}
.mycontact div:hover{
  transform: scale(1.01);
}
.mycontactform div:hover{
  transform: scale(1.03);
}
button:hover{
  transform: scale(1.05);

}
.con-nav{
  background: linear-gradient(135deg, #8d919c, #b1a0c2);
}